/* This is an example of using Sass, otherwise plain CSS works too*/
$white: white;
$black: black;
$gray: rgb(150,150,150);
$silver-gradient: radial-gradient(circle, $white 0%, rgba(106,145,158,1) 50%, $white 100%);
$silver: rgb(106,145,158);
$silver-opaque: rgba(106,145,158,0.3);
$logo-font: 'Great Vibes', cursive;
$main-font: 'Raleway', sans-serif;
$key-cursor: url('../images/key.png'), default !important;

@mixin flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

body {
  font-family: $main-font;
  margin: 0;
  text-align: center;
}

// ------------ LOGIN PAGE ------------ //
#login-page {
  background-color: $white;
  margin: 10% 30%;
  padding: 1%;
}

#login-page h1 {
  cursor: default;
  font-family: $logo-font;
  font-size: 5.5vw;
  margin: 0;
  margin-bottom: 15px;
  padding-top: 2%;
}

.user-login {
  @include flex-center
}

.login-input {
  border: none;
  border-bottom: 2px solid $black;
  font-family: $main-font;
  font-size: 20px;
  font-weight: 300;
  outline: 0;
  padding-top: 5%;
}

.login-input::placeholder {
  color: $gray;
  font-weight: 100;
}

.login-input:focus::placeholder {
  color: $white;
  transition: .8s ease;
}

#error-msg {
  color: $white;
  cursor: default;
  text-align: left;
  padding-top: 2%;
}

.login-btn {
  background-color: $black;
  border: none;
  color: $white;
  cursor: $key-cursor;
  font-family: $main-font;
  font-size: 20px;
  margin-top: 5%;
  padding: 2%;
}

// ------------ GUEST PAGE ------------ //

.dashboard-header {
  background: rgb(0,0,0);
  background: $silver-gradient;
  border-bottom: 2px solid $gray;
  box-shadow: 0px 0px 13px 5px black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0%;
  width: 100%;
  .logo-img {
    margin: 7px 0px 7px 7px;
    width: 100px;
    height: 100px;
  }
  h2 {
    align-self: center;
    cursor: default;
    font-family: $logo-font;
    font-size: 60px;
    margin: 15px 7px 7px;
    padding-left: 40px;
  }
  button {
    background: $silver-opaque;
    border: 2px solid $black;
    border-radius: 5px;
    cursor: $key-cursor;
    font-family: $main-font;
    font-size: 20px;
    margin: 2%;
    padding: 1%;
  }
  button:hover {
    background: $silver;
    border: 2px solid $white;
    color: $white;
    transition: .2s ease;
  }
}

.guest-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  padding: 2%;
  h1 {
    color: $black;
    font-family: $logo-font;
    font-size: 50px;
    margin: 5px;
    text-shadow: 1px 2px 9px $silver;
  }
}
